<?xml version="1.0" encoding="UTF-8"?>
<kcfg xmlns="http://www.kde.org/standards/kcfg/1.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.kde.org/standards/kcfg/1.0
                          http://www.kde.org/standards/kcfg/1.0/kcfg.xsd">
  <kcfgfile name=""/>

  <group name="General">
    <entry name="serverProfiles" type="String">
      <label>JSON array of server profiles</label>
      <default>[{"name":"Tailscale","loginServerUrl":"","authKey":""}]</default>
    </entry>
    <entry name="activeProfileIndex" type="Int">
      <label>Index of the currently active server profile</label>
      <default>0</default>
    </entry>
  </group>
</kcfg>
